<div class="row">
    <div class="col-xs-12">
        <div class="todo-list">
            <div *ngFor="let item of checklistTasks; let i = index;">
                <div class="input-group">
                    <input class="form-control" [ngClass]="{'completed': item.completed}" placeholder="What needs to be done?"
                    [(ngModel)]="item.text" [disabled]="item.completed">

                    <span class="input-group-btn" *ngIf="!item.completed">
                        <button class="btn btn-input" (click)="completeTask(i)">v</button>
                    </span>
                    <span class="input-group-btn" *ngIf="item.completed">
                        <button class="btn btn-input" (click)="completeTask(i)">!</button>
                    </span>

                </div>
            </div>
            <div class="input-group">
                <input class="form-control" [ngClass]="{'completed': newItem.completed}" placeholder="What needs to be done?"
                [(ngModel)]="newItem.text" (keyup.enter)="addTask(newItem)" [disabled]="newItem.completed">
                <span class="input-group-btn">
                    <button class="btn btn-input" (click)="addTask(newItem)">+</button>
                </span>
            </div>
        </div>
    </div>
</div>
