.menu {
    display:inline-block;
    vertical-align:top;
    float:left;

}

.nav .nav-inline  {
    display:inline-block;
    vertical-align:top;
    float:none;
    margin-top:-1em;
    padding:1em;

}

a.nav-link {
    color:#BBC4CF;
    cursor:pointer;
    font-size:10pt;
    font-weight:bold;
    
}

a.nav-link:hover,
a.nav-link:active {

    border-bottom:1px solid #FFFFFF;
    color:#FFFFFF;

}
