.menu {


}

.nav  {
    margin-top:-1em;
    padding:1em;
    height:3em;
}

a.nav-link {
    color:#BBC4CF;
    cursor:pointer;
}

a.nav-link:hover,
a.nav-link:active {

    border-bottom:1px solid #FFFFFF;
    color:#FFFFFF;
    font-weight:bold;
}
