<div class="container">
    <div class="col-xs-12">
        <card-unit card-title="headers">
            <div class="para">
                <h1>h1 Important title</h1>
                <h2>h2 Important title</h2>
                <h3>h3 Important title</h3>
                <h4>h4 Important title</h4>
                <h5>h5 Important title</h5>
            </div>

        </card-unit>
    </div>
    <div class="col-xs-12">
        <card-unit card-title="Buttons">
            <div class="row">
                <div class="col-xs-12">
                    <div class="para">
                        <h5>Primary Button</h5>
                        <button class="btn btn-primary">Submit</button>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="para">
                        <h5>Secondary Button</h5>
                        <button class="btn btn-secondary">Submit</button>
                    </div>
                </div>
            </div>
        </card-unit>
    </div>
</div>
