<div class="card-container">
    <div class="card-titlebar">
            <h4>{{title}}</h4>
    </div>
    <div class="card-content">
        Dat maakte Facebook woensdagavond bekend. Over de omzet van 6,4 miljard dollar boekte 's werelds populairste sociale netwerk 2 miljard dollar winst. Daarmee deed Facebook het een stuk beter dan een jaar eerder: in het tweede kwartaal van 2015 behaalde Facebook 719 miljoen dollar winst op 4 miljard dollar aan omzet. Ter vergelijking: qua omzet deed Facebook het bijna vijf keer zo goed als concurrent Yahoo en ruim tien keer zo goed als Twitter in het voorbije kwartaal. Vier jaar geleden, ten tijde van Facebooks beursgang, was de omzet van Yahoo nog groter dan die van het sociale netwerk. Facebook worstelde toen met de opkomst van tablets en smartphones, ten koste van desktops. Vier jaar later is van die worsteling niets meer te merken, terwijl het Yahoo inmiddels is verkocht aan Verizon.
    </div>
</div>
