#logo {
    display:inline-block;
    margin:0.7em 1em;
    color:#CCCDD2;
    font-size:14pt;
    font-weight:700;
    text-align:center;
    padding-left:1px;
    float:left;
}

.side-menu {
    height: 100%;
    position: relative;
    margin: 0;
    width: 150px;
    display: flex;

}

.menu-container{
    width:100%;
    display:inline-block;
}
