<div class="side-menu">
    <!-- top menu bar -->
    <div class="menu-container">
        <div id="logo">
            [h]
        </div>
        <div class="menu">
            <nav class="nav nav-inline">
              <a class="nav-link" routerLink="landingspage" routerLinkActive="active">HOME</a>
              <a class="nav-link" routerLink="global">GLOBAL</a>
              <a class="nav-link" routerLink="#">BIKECHAIN</a>
              <a class="nav-link" routerLink="profile">PROFILE</a>
              <a class="nav-link" routerLink="demo">DEMO</a>
            </nav>
        </div>
    </div>
    <div class="user-account pull-xs-right">
        <button class="btn btn-secondary" (click)="logout()">Logout</button>
    </div>
</div>
