<div class="side-menu">
    <!-- side menu bar -->
    <div class="menu-container">
        <div class="menu">
            <nav class="nav">
                <a class="nav-link" routerLink="landingspage" routerLinkActive="active">
                    <span class="sm-icon">
                        <span class="sm-circle-1"></span>
                        <span class="sm-circle-2"></span>
                        <span class="sm-circle-3"></span>
                        <span class="sm-circle-4"></span>
                        <span class="sm-circle-5"></span>
                        <span class="sm-text">HOME</span>
                    </span>
                </a>
                <a class="nav-link" routerLink="dashboard/global">
                    <span class="sm-icon">
                        <span class="sm-circle-1 neon-glow"></span>
                        <span class="sm-circle-2 neon-glow"></span>
                        <span class="sm-circle-3 neon-glow"></span>
                        <span class="sm-circle-4 neon-glow"></span>
                        <span class="sm-circle-5 neon-glow"></span>
                        <span class="sm-text">GLOBAL</span>
                    </span>
                </a>
                <a class="nav-link" routerLink="">
                    <span class="sm-icon">
                        <span class="sm-circle-1 neon-glow"></span>
                        <span class="sm-circle-2 neon-glow"></span>
                        <span class="sm-circle-3 neon-glow"></span>
                        <span class="sm-circle-4 neon-glow"></span>
                        <span class="sm-circle-5 neon-glow"></span>
                        <span class="sm-text">BIKECHAIN</span>
                    </span>
                </a>
                <a class="nav-link" routerLink="dashboard/profile">
                    <span class="sm-icon">
                        <span class="sm-circle-1 neon-glow"></span>
                        <span class="sm-circle-2 neon-glow"></span>
                        <span class="sm-circle-3 neon-glow"></span>
                        <span class="sm-circle-4 neon-glow"></span>
                        <span class="sm-circle-5 neon-glow"></span>
                        <span class="sm-text">PROFILE</span>
                    </span>
                </a>
                <a class="nav-link" routerLink="dashboard/demo">
                    <span class="sm-icon">
                        <span class="sm-circle-1 neon-glow"></span>
                        <span class="sm-circle-2 neon-glow"></span>
                        <span class="sm-circle-3 neon-glow"></span>
                        <span class="sm-circle-4 neon-glow"></span>
                        <span class="sm-circle-5 neon-glow"></span>
                        <span class="sm-text">DEMO</span>
                    </span>
                </a>
            </nav>
        </div>
    </div>
    <div class="user-account">
        <button class="btn btn-secondary" (click)="logout()">Logout</button>
    </div>
</div>
