<div class="col-xs-12 col-md-6">
    <card-unit card-title="Personal info">
    </card-unit>
</div>
<div class="col-xs-12 col-md-6">
    <card-unit card-title="Contact info">
    </card-unit>
</div>
<div class="col-xs-12">
    <card-unit card-title="Preferences">
    </card-unit>
</div>
<div class="col-xs-12 col-md-6">
    <card-unit card-title="Hard tasks">
        <checklist></checklist>
    </card-unit>
</div>
<div class="col-xs-12 col-md-6">
    <card-unit card-title="Medium tasks">
        <checklist></checklist>
    </card-unit>
</div>
