html, body {

}

html {

}

body {
    color: #BBC4CF;
    font-family: 'Rajdhani', sans-serif;
    /*http://angrytools.com/gradient/*/
    background: -moz-radial-gradient(center, ellipse cover, #153F4F 0%, #0B212C 100%); /* ff3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #153F4F), color-stop(100%, #0B212C)); /* safari4+,chrome */
    background: -webkit-radial-gradient(center, ellipse cover, #153F4F 0%, #0B212C 100%); /* safari5.1+,chrome10+ */
    background: -o-radial-gradient(center, ellipse cover, #153F4F 0%, #0B212C 100%); /* opera 11.10+ */
    background: -ms-radial-gradient(center, ellipse cover, #153F4F 0%, #0B212C 100%); /* ie10+ */
    background: radial-gradient(ellipse at center, #153F4F 0%, #0B212C 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#153F4F', endColorstr='#0B212C',GradientType=1 ); /* ie6-9 */
    width: 100%;
    height:100%;
    margin: auto;
    background-attachment: fixed;
    -webkit-backface-visibility: hidden;

}


h1 {
    color:#ffffff;
    font-size:50px;
}

label {
    color:#BBC4CF;
    font-size:18px;
    font-weight:bold;

}

label:hover,
label:focus,
label:active  {
    font-weight:bold;
    font-color: #ffffff;
}


p {
    font-size:12pt;
    padding:.5em;
}

.para {
    font-size:12pt;
    padding:.3em;
}
.user-account {
    margin:.5em 2em;
}
.header {
    display:inline-block;
}

.header-container{
    width:100%;
    display:inline-block;

    -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 0.5s; /* Firefox < 16 */
        -ms-animation: fadein 0.5s; /* Internet Explorer */
         -o-animation: fadein 0.5s; /* Opera < 12.1 */
            animation: fadein 0.5s;
}

.card-footer {
    background-color: #0B212C !important;
    padding:.5em;
}


@keyframes loading {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}

@-webkit-keyframes flash {
    0%, 50%, 100% {opacity: 1;}
    25%, 75% {opacity: 0;}
}
@keyframes flash {
    0%, 50%, 100% {opacity: 1;}
    25%, 75% {opacity: 0;}
}
.flash {
    -webkit-animation-name: flash;
    animation-name: flash;
}

.loader {
  height: 4px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #ddd;
}
.loader:before{
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 4px;
  background-color: #2980b9;
  animation: loading 2s linear infinite;
}
