<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 ">
            <card-unit card-title="Wubalubadubdub">
            </card-unit>
        </div>
        <div class="col-xs-3">
            <card-unit card-title="Lick lick lick my ballssssss">
            </card-unit>
        </div>
        <div class="col-xs-3">
            <card-unit card-title="I don't give a FUUUUUUCCCCCCCCCKKKKKKKKK!!!!">
            </card-unit>
        </div>
        <div class="col-xs-3">
            <card-unit card-title="Wubalubadubdub">
            </card-unit>
        </div>
        <div class="col-xs-3 ">
            <card-unit card-title="Wubalubadubdub">
            </card-unit>
        </div>
        <div class="col-xs-3 ">
            <card-unit card-title="Get rick rickity wrecked!">
            </card-unit>
        </div>
        <div class="col-xs-3 ">
            <card-unit card-title="Get rick rickity wrecked!">
            </card-unit>
        </div>
        <div class="col-xs-6">
            <card-unit card-title="Wubalubadubdub">
            </card-unit>
        </div>
        <div class="col-xs-6">
            <card-unit card-title="Wubalubadubdub">
            </card-unit>
        </div>
        <div class="col-xs-12 col-md-6 col-xl-4">
            <card-unit card-title="Lick lick lick my ballssssss">
            </card-unit>
        </div>
        <div class="col-xs-12 col-md-6 col-xl-4">
            <card-unit card-title="I don't give a FUUUUUUCCCCCCCCCKKKKKKKKK!!!!">
            </card-unit>
        </div>
        <div class="col-xs-12 col-md-6 col-xl-4">
            <card-unit card-title="Get rick rickity wrecked!">
            </card-unit>
        </div>
        <div class="col-xs-12 ">
            <card-unit card-title="Get rick rickity wrecked!">
            </card-unit>
        </div>

    </div>
<div>
