<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-6 ">
            <div class="card-panel">
                <div class="flipper">
                    <div class="front">
                        <card-unit card-title="ng-model">
                            <p>
                                Capitalise on low hanging fruit to identify a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.

                                Podcasting operational change management inside of workflows to establish a framework. Taking seamless key performance indicators offline to maximise the long tail. Keeping your eye on the ball while performing a deep dive on the start-up mentality to derive convergence on cross-platform integration.
                            </p>
                        </card-unit>
                    </div>
                    <div class="back">
                        <card-unit card-title="Information">
                            <p>
                                Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.

                                Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.
                            </p>
                        </card-unit>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-12 col-lg-6">
            <card-unit card-title="ngModel">
                <p>
                    \<input [(ngModel)]="favoriteHero" /\>
                </p>
                <p>
                    In Angular 2, two-way binding is denoted with [()], descriptively referred to as a "banana in a box". This syntax is a short-cut for defining both property binding (from the component to the view) and event binding (from the view to the component), thereby giving us two-way binding.
                </p>
            </card-unit>
        </div>
        <div class="col-xs-12 col-md-12 col-lg-6">
            <card-unit card-title="ng-repeat">
                <p>
                    < tr ng-repeat="movie in vm.movies"\>
                </p>
                <p>
                    In Angular 1, the ng-repeat directive repeats the associated DOM element for each item from the specified collection.

                    In this example, the table row (tr) element is repeated for each movie object in the collection of movies.
                </p>
            </card-unit>
        </div>
        <div class="col-xs-12 col-md-12 col-lg-6">
            <card-unit card-title="*ngFor">
                <p>
                    < tr *ngFor="let movie of movies">
                    The *ngFor directive in Angular 2 is similar to the ng-repeat directive in Angular 1. It repeats the associated DOM element for each item from the specified collection. More accurately, it turns the defined element (tr in this example) and its contents into a template and uses that template to instantiate a view for each item in the list.

                    Notice the other syntax differences: The (*) before ngFor is required; the let keyword identifies movie as an input variable; the list preposition is of, not in.
                </p>
            </card-unit>
        </div>
    </div>
</div>
