
#card-title {
    font-size:2em;
    font-weight:700;
    text-transform: uppercase;
    /*text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #FFFFFF , 0 0 70px #FFFFFF , 0 0 80px #FFFFFF , 0 0 100px #FFFFFF ;*/
     /*-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
     -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
     -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
     transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);*/
}

.card-container{
    opacity: 0.9;
    padding:.5em;
    width:auto;
    -webkit-animation: fadein 0.5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 0.5s; /* Firefox < 16 */
        -ms-animation: fadein 0.5s; /* Internet Explorer */
         -o-animation: fadein 0.5s; /* Opera < 12.1 */
            animation: fadein 0.5s;
}

.card-titlebar{
    display:inline-block;
    background-color: #485F72;
    padding: 0 .5em;
    color:#B7B7BC;
    width:100%;

}

.card-content{
    background-color: #0B212C;
    font-size:10pt;
    padding:.5em 1em;
    width:auto;
}

.card-para{


    padding:0.7em;
}
