
#card-title {
    font-size:2em;
    font-weight:700;
    text-transform: uppercase;
    /*text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 0 30px rgba(255,255,255,1) , 0 0 40px #FFFFFF , 0 0 70px #FFFFFF , 0 0 80px #FFFFFF , 0 0 100px #FFFFFF ;*/
     /*-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
     -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
     -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
     transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);*/
}

.card-container{
    padding:.5em;
    width:auto;

}

.card-titlebar{
    display:inline-block;
    background-color: #485F72;
    padding: 0 .5em;
    color:#B7B7BC;
    width:100%;

}

.card-content{
    background-color: #0B212C;
    font-size:10pt;
    padding:.5em 1em;
    width:auto;
}

.card-para{

    border: 1px solid #242424;
    padding:0.7em;
}
