#logo {
    display:inline-block;
    margin:.5em 1em .3em 0;
    width:2.5em;
    color:#CCCDD2;
    font-size:14pt;
    font-weight:700;
    text-align:center;
    border:3px solid #CCCDD2;
    border-radius:50%;
    padding-left:1px;
    float:left;

}

.header {
    background-color: ##CCCDD2;
    border-bottom: 1px solid #242424;
    height: 3em;
    width:100%;
    margin-bottom:.5em;
    display:inline-block;
}

.header-container{
    width:100%;
    display:inline-block;
}

dashboard{
    margin:auto;
}
