.header {
    background-color: #242424;
    border-bottom: 1px solid #242424;
    height: 3em;
    margin:auto;
}


.card-container{
    margin: 0.25em;
}

.card-content{
    background-color: #242424;
    padding:0.5em;
}

.card-titlebar{
    background-color: #242424;
    height:2em;
    padding:0.1em 0.5em;
}
